/* Navigation Bar Styles */

  .navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Navigation Bar Link Styles */
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active Navigation Link Style */
  
  .active {
    background-color: #4CAF50;
    color: white;
  }

  .lead {
    padding-top: 2%;
  }

  #privacyModal{
    visibility: collapse;
  }
  
  @media (max-width: 800px) {
  
    .heading h1 {
      font-size: 4rem;
    }
  
    .heading p {
      font-size: 1.5rem;
    }
    img {
      max-width:100%;
      height: auto;
    }
  }